In [85]:
import pandas as pd

In [86]:
df = pd.read_json('data.json')

# Display the first few rows of the DataFrame

In [87]:
race_dummies = pd.get_dummies(df['RACE'], prefix='RACE')

# Join the dummy variables to the original DataFrame
df = pd.concat([df, race_dummies], axis=1)

In [88]:
df

,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,REGION_SOUTH REGION,REGION_WEST REGION,RACE_White,White_Northeast,White_South,White_West,RACE_Black,RACE_White
0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,1,0,1,0,1,0,False,True
1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,1,0,1,0,1,0,False,True
2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,1,0,1,0,1,0,False,True
3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,1,0,1,0,1,0,False,True
4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,1,0,0,0,0,0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57490,2023,12,WEST REGION,1900.0,40,White,50,14,38.000000,0,0,1,1,0,0,1,False,True
57491,2023,12,WEST REGION,390.0,48,White,60,11,6.500000,0,0,1,1,0,0,1,False,True
57492,2023,12,WEST REGION,1140.0,28,White,45,12,25.333330,0,0,1,1,0,0,1,False,True
57493,2023,12,WEST REGION,1730.0,58,White,55,16,31.454550,0,0,1,1,0,0,1,False,True
57494,2023,12,WEST REGION,1000.0,51,White,65,12,15.384620,0,0,1,1,0,0,1,False,True

In [89]:
import pandas as pd
import statsmodels.api as sm

# Assuming your 'RACE' column is named 'RACE' and contains "White" and "Black"
# Create a dummy variable for Black individuals
df['RACE_Black'] = (df['RACE'] == 'Black').astype(int)

# Create interaction terms
df['EDUC_RACE_Black'] = df['EDUC'] * df['RACE_Black']

# Add a constant term for the intercept
X = sm.add_constant(df[['EDUC', 'RACE_Black', 'EDUC_RACE_Black']])
y = df['HOURWAGE']

# Fit the regression model
model = sm.OLS(y, X).fit()
print(model.summary())

# Extract coefficients
intercept = model.params['const']
coef_educ = model.params['EDUC']
coef_race_black = model.params['RACE_Black']
coef_educ_race_black = model.params['EDUC_RACE_Black']

# Calculate predicted hourly wage for White individuals
# For White individuals, RACE_Black and EDUC_RACE_Black are 0
df['PREDICTED_HOURWAGE_White1'] = intercept + coef_educ * df['EDUC']

# Calculate predicted hourly wage for Black individuals
# For Black individuals, include the interaction term
df['PREDICTED_HOURWAGE_Black1'] = (intercept +
                                  coef_educ * df['EDUC'] +
                                  coef_race_black +
                                  coef_educ_race_black * df['EDUC'])

                            OLS Regression Results
==============================================================================
Dep. Variable:               HOURWAGE   R-squared:                       0.117
Model:                            OLS   Adj. R-squared:                  0.117
Method:                 Least Squares   F-statistic:                     2533.
Date:                Thu, 07 Mar 2024   Prob (F-statistic):               0.00
Time:                        22:17:07   Log-Likelihood:            -2.7023e+05
No. Observations:               57495   AIC:                         5.405e+05
Df Residuals:                   57491   BIC:                         5.405e+05
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const             -16.3064      0.610    -26.731      0.000     -17.502     -15.111
EDUC                3.6208      0.044     82.999      0.000       3.535       3.706
RACE_Black         -0.0658      2.142     -0.031      0.976      -4.264       4.132
EDUC_RACE_Black    -0.3298      0.157     -2.097      0.036      -0.638      -0.021
==============================================================================
Omnibus:                    61922.103   Durbin-Watson:                   1.905
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         10915319.626
Skew:                           5.178   Prob(JB):                         0.00
Kurtosis:                      69.702   Cond. No.                         273.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [78]:
df

,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,...,REGION_WEST REGION,RACE_White,White_Northeast,White_South,White_West,RACE_Black,RACE_White,EDUC_RACE_Black,PREDICTED_HOURWAGE_White1,PREDICTED_HOURWAGE_Black1
0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,...,0,1,0,1,0,0,True,0,16.280495,13.246947
1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,...,0,1,0,1,0,0,True,0,27.142807,23.119994
2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,...,0,1,0,1,0,0,True,0,34.384348,29.702024
3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,...,0,1,0,1,0,0,True,0,27.142807,23.119994
4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,...,0,0,0,0,0,1,False,14,34.384348,29.702024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57490,2023,12,WEST REGION,1900.0,40,White,50,14,38.000000,0,...,1,1,0,0,1,0,True,0,34.384348,29.702024
57491,2023,12,WEST REGION,390.0,48,White,60,11,6.500000,0,...,1,1,0,0,1,0,True,0,23.522036,19.828978
57492,2023,12,WEST REGION,1140.0,28,White,45,12,25.333330,0,...,1,1,0,0,1,0,True,0,27.142807,23.119994
57493,2023,12,WEST REGION,1730.0,58,White,55,16,31.454550,0,...,1,1,0,0,1,0,True,0,41.625889,36.284055
57494,2023,12,WEST REGION,1000.0,51,White,65,12,15.384620,0,...,1,1,0,0,1,0,True,0,27.142807,23.119994

In [80]:
import pandas as pd
import statsmodels.api as sm

# Assuming your 'RACE' column is named 'RACE' and contains "White" and "Black"
# Create a dummy variable for Black individuals
df['RACE_Black'] = (df['RACE'] == 'Black').astype(int)

# Create interaction terms
df['EDUC_RACE_Black'] = df['EDUC'] * df['RACE_Black']
df['AGE_RACE_Black'] = df['AGE'] * df['RACE_Black']

# Add a constant term for the intercept
X = sm.add_constant(df[['EDUC', 'AGE', 'RACE_Black', 'EDUC_RACE_Black', 'AGE_RACE_Black']])
y = df['HOURWAGE']

# Fit the regression model
model = sm.OLS(y, X).fit()
print(model.summary())

# Extract coefficients
intercept = model.params['const']
coef_educ = model.params['EDUC']
coef_age = model.params['AGE']
coef_race_black = model.params['RACE_Black']
coef_educ_race_black = model.params['EDUC_RACE_Black']
coef_age_race_black = model.params['AGE_RACE_Black']

# Calculate predicted hourly wage for White individuals
# For White individuals, RACE_Black, EDUC_RACE_Black, and AGE_RACE_Black are 0
df['PREDICTED_HOURWAGE_White2'] = (intercept +
                                  coef_educ * df['EDUC'] +
                                  coef_age * df['AGE'])

# Calculate predicted hourly wage for Black individuals
# For Black individuals, include the interaction terms
df['PREDICTED_HOURWAGE_Black2'] = (intercept +
                                  coef_educ * df['EDUC'] +
                                  coef_age * df['AGE'] +
                                  coef_race_black +
                                  coef_educ_race_black * df['EDUC'] +
                                  coef_age_race_black * df['AGE'])

In [82]:
import pandas as pd
import statsmodels.api as sm

# Assuming your 'RACE' column is named 'RACE' and contains "White" and "Black"
# Create a dummy variable for Black individuals
df['RACE_Black'] = (df['RACE'] == 'Black').astype(int)

# Calculate the square of AGE
df['AGE_SQ'] = df['AGE'] ** 2

# Create interaction terms for AGE_SQ and EDUC with RACE_Black
df['AGE_SQ_RACE_Black'] = df['AGE_SQ'] * df['RACE_Black']
df['EDUC_RACE_Black'] = df['EDUC'] * df['RACE_Black']

# Add a constant term for the intercept
X = sm.add_constant(df[['EDUC', 'AGE_SQ', 'RACE_Black', 'AGE_SQ_RACE_Black', 'EDUC_RACE_Black']])
y = df['HOURWAGE']

# Fit the regression model
model = sm.OLS(y, X).fit()
print(model.summary())

# Extract coefficients
intercept = model.params['const']
coef_educ = model.params['EDUC']
coef_age_sq = model.params['AGE_SQ']
coef_race_black = model.params['RACE_Black']
coef_age_sq_race_black = model.params['AGE_SQ_RACE_Black']
coef_educ_race_black = model.params['EDUC_RACE_Black']

# Calculate predicted hourly wage for White individuals
# For White individuals, RACE_Black, AGE_SQ_RACE_Black, and EDUC_RACE_Black are 0
df['PREDICTED_HOURWAGE_White3'] = (intercept +
                                  coef_educ * df['EDUC'] +
                                  coef_age_sq * df['AGE_SQ'])

# Calculate predicted hourly wage for Black individuals
# For Black individuals, include the interaction terms
df['PREDICTED_HOURWAGE_Black3'] = (intercept +
                                  coef_educ * df['EDUC'] +
                                  coef_age_sq * df['AGE_SQ'] +
                                  coef_race_black +
                                  coef_age_sq_race_black * df['AGE_SQ'] +
                                  coef_educ_race_black * df['EDUC'])

In [83]:
df

,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,...,EDUC_RACE_Black,PREDICTED_HOURWAGE_White1,PREDICTED_HOURWAGE_Black1,AGE_RACE_Black,PREDICTED_HOURWAGE_White2,PREDICTED_HOURWAGE_Black2,AGE_SQ,AGE_SQ_RACE_Black,PREDICTED_HOURWAGE_White3,PREDICTED_HOURWAGE_Black3
0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,...,0,16.280495,13.246947,0,15.983352,13.145962,1444,0,15.400823,12.658685
1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,...,0,27.142807,23.119994,0,23.974841,20.709697,900,0,24.192980,20.851939
2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,...,0,34.384348,29.702024,0,31.824952,27.752356,1089,0,31.827845,27.735456
3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,...,0,27.142807,23.119994,0,33.358362,28.150325,3721,0,33.261570,28.120139
4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,...,14,34.384348,29.702024,36,32.733035,28.472416,1296,1296,32.493283,28.268784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57490,2023,12,WEST REGION,1900.0,40,White,50,14,38.000000,0,...,0,34.384348,29.702024,0,33.943812,29.432497,1600,0,33.470543,29.052029
57491,2023,12,WEST REGION,390.0,48,White,60,11,6.500000,0,...,0,23.522036,19.828978,0,25.952323,21.868762,2304,0,25.192733,21.271009
57492,2023,12,WEST REGION,1140.0,28,White,45,12,25.333330,0,...,0,27.142807,23.119994,0,23.369453,20.229656,784,0,23.820078,20.553069
57493,2023,12,WEST REGION,1730.0,58,White,55,16,31.454550,0,...,0,41.625889,36.284055,0,46.334336,40.075460,3364,0,46.168516,39.993474
57494,2023,12,WEST REGION,1000.0,51,White,65,12,15.384620,0,...,0,27.142807,23.119994,0,30.331420,25.750122,2601,0,29.661137,25.234501

In [65]:
unique_rows = df.drop_duplicates(subset=['AGE', 'EDUC'])

In [66]:
unique_rows

,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,REGION_SOUTH REGION,REGION_WEST REGION,RACE_White,White_Northeast,White_South,White_West,RACE_Black,RACE_White,PREDICTED_HOURWAGE_White,PREDICTED_HOURWAGE_Black
0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,1,0,1,0,1,0,False,True,15.983352,13.145962
1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,1,0,1,0,1,0,False,True,23.974841,20.709697
2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,1,0,1,0,1,0,False,True,31.824952,27.752356
3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,1,0,1,0,1,0,False,True,33.358362,28.150325
4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,1,0,0,0,0,0,True,False,32.733035,28.472416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32374,2023,7,SOUTH REGION,1040.0,28,White,40,10,26.000000,0,1,0,1,0,1,0,False,True,16.427424,13.907059
34672,2023,7,SOUTH REGION,120.0,25,Black,12,10,10.000000,0,1,0,0,0,0,0,True,False,15.519342,13.186998
36364,2023,8,WEST REGION,650.0,23,White,40,9,16.250000,0,0,1,1,0,0,1,False,True,11.442939,9.545658
36776,2023,8,SOUTH REGION,2880.0,19,White,60,22,48.000000,0,1,0,1,0,1,0,False,True,55.355347,49.682464
41504,2023,9,SOUTH REGION,600.0,19,White,40,6,15.000000,0,1,0,1,0,1,0,False,True,-0.180881,-0.898320

In [67]:
newdf = unique_rows[['AGE', 'EDUC', 'PREDICTED_HOURWAGE_White', 'PREDICTED_HOURWAGE_Black']]

In [68]:
newdf

       AGE  EDUC  PREDICTED_HOURWAGE_White  PREDICTED_HOURWAGE_Black
0       38     9                 15.983352                 13.145962
1       30    12                 23.974841                 20.709697
2       33    14                 31.824952                 27.752356
3       61    12                 33.358362                 28.150325
4       36    14                 32.733035                 28.472416
...    ...   ...                       ...                       ...
32374   28    10                 16.427424                 13.907059
34672   25    10                 15.519342                 13.186998
36364   23     9                 11.442939                  9.545658
36776   19    22                 55.355347                 49.682464
41504   19     6                 -0.180881                 -0.898320

[471 rows x 4 columns]

In [71]:
file_path = 'regression.json'
newdf.to_json(file_path)
newdf.to_json(file_path, orient='records')

In [69]:
json_string = newdf.to_json()

In [16]:
df['AGE2'] = df['AGE'] **2

In [17]:
df

,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,REGION_SOUTH REGION,REGION_WEST REGION,RACE_White,White_Northeast,White_South,White_West,PREDICTED_HOURWAGE_with_educ,PREDICTED_HOURWAGE_with_2,AGE2
0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,1,0,1,0,1,0,15.861493,15.587414,1444
1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,1,0,1,0,1,0,26.705706,23.607559,900
2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,1,0,1,0,1,0,33.935182,31.431726,1089
3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,1,0,1,0,1,0,26.705706,32.823499,3721
4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,1,0,0,0,0,0,33.935182,32.323591,1296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57490,2023,12,WEST REGION,1900.0,40,White,50,14,38.000000,0,0,1,1,0,0,1,33.935182,33.512744,1600
57491,2023,12,WEST REGION,390.0,48,White,60,11,6.500000,0,0,1,1,0,0,1,23.090969,25.492600,2304
57492,2023,12,WEST REGION,1140.0,28,White,45,12,25.333330,0,0,1,1,0,0,1,26.705706,23.012982,784
57493,2023,12,WEST REGION,1730.0,58,White,55,16,31.454550,0,0,1,1,0,0,1,41.164657,45.796237,3364
57494,2023,12,WEST REGION,1000.0,51,White,65,12,15.384620,0,0,1,1,0,0,1,26.705706,29.850615,2601

In [18]:
import statsmodels.api as sm

# Add a constant term for the intercept
X = sm.add_constant(df[['EDUC', 'AGE2']])
y = df['HOURWAGE']

# Fit the regression model
model = sm.OLS(y, X).fit()


# Assuming your model variable is named model
intercept_statsmodels = model.params[0]  # Intercept (beta_0)
coefficient_statsmodels = model.params[1]  # Coefficient for EDUC (beta_1)
coefficient_statsmodels2 = model.params[2]

print("Intercept (statsmodels):", intercept_statsmodels)
print("Coefficient for EDUC (statsmodels):", coefficient_statsmodels)


# Calculate predicted HOURWAGE for each EDUC value
df['PREDICTED_HOURWAGE_with_3'] = intercept_statsmodels + coefficient_statsmodels * df['EDUC'] + coefficient_statsmodels2 *df['AGE']

# Display the DataFrame with predicted values
df

Intercept (statsmodels): -21.129485181707267
Coefficient for EDUC (statsmodels): 3.508233043454685

,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,REGION_SOUTH REGION,REGION_WEST REGION,RACE_White,White_Northeast,White_South,White_West,PREDICTED_HOURWAGE_with_educ,PREDICTED_HOURWAGE_with_2,AGE2,PREDICTED_HOURWAGE_with_3
0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,1,0,1,0,1,0,15.861493,15.587414,1444,10.564801
1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,1,0,1,0,1,0,26.705706,23.607559,900,21.064197
2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,1,0,1,0,1,0,33.935182,31.431726,1089,28.090152
3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,1,0,1,0,1,0,26.705706,32.823499,3721,21.162247
4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,1,0,0,0,0,0,33.935182,32.323591,1296,28.099641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57490,2023,12,WEST REGION,1900.0,40,White,50,14,38.000000,0,0,1,1,0,0,1,33.935182,33.512744,1600,28.112292
57491,2023,12,WEST REGION,390.0,48,White,60,11,6.500000,0,0,1,1,0,0,1,23.090969,25.492600,2304,17.612896
57492,2023,12,WEST REGION,1140.0,28,White,45,12,25.333330,0,0,1,1,0,0,1,26.705706,23.012982,784,21.057872
57493,2023,12,WEST REGION,1730.0,58,White,55,16,31.454550,0,0,1,1,0,0,1,41.164657,45.796237,3364,35.185690
57494,2023,12,WEST REGION,1000.0,51,White,65,12,15.384620,0,0,1,1,0,0,1,26.705706,29.850615,2601,21.130618

In [19]:
df['REGION_NORTHEAST REGION']

0        0
1        0
2        0
3        0
4        0
        ..
57490    0
57491    0
57492    0
57493    0
57494    0
Name: REGION_NORTHEAST REGION, Length: 57495, dtype: int64

In [ ]:
import statsmodels.api as sm

# Add a constant term for the intercept
X = sm.add_constant(df[['EDUC', 'AGE2', 'REGION_NORTHEAST REGION', 'REGION_SOUTH REGION', 'REGION_WEST REGION']])
y = df['HOURWAGE']

# Fit the regression model
model = sm.OLS(y, X).fit()


# Assuming your model variable is named model
intercept_statsmodels = model.params[0]  # Intercept (beta_0)
coefficient_statsmodels = model.params[1]  # Coefficient for EDUC (beta_1)
coefficient_statsmodels2 = model.params[2]

print("Intercept (statsmodels):", intercept_statsmodels)
print("Coefficient for EDUC (statsmodels):", coefficient_statsmodels)


# Calculate predicted HOURWAGE for each EDUC value
df['PREDICTED_HOURWAGE_with_3'] = intercept_statsmodels + coefficient_statsmodels * df['EDUC'] + coefficient_statsmodels2 *df['AGE']

# Display the DataFrame with predicted values
df

In [10]:
# Assuming df has columns named 'AGE' and 'EDUC'
unique_rows = df.drop_duplicates(subset=['AGE', 'EDUC'])

# Display the resulting DataFrame with unique AGE and EDUC combination
unique_rows

,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,REGION_SOUTH REGION,REGION_WEST REGION,RACE_White,White_Northeast,White_South,White_West,PREDICTED_HOURWAGE_with_educ,PREDICTED_HOURWAGE_with_2
0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,1,0,1,0,1,0,15.861493,15.587414
1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,1,0,1,0,1,0,26.705706,23.607559
2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,1,0,1,0,1,0,33.935182,31.431726
3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,1,0,1,0,1,0,26.705706,32.823499
4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,1,0,0,0,0,0,33.935182,32.323591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32374,2023,7,SOUTH REGION,1040.0,28,White,40,10,26.000000,0,1,0,1,0,1,0,19.476231,16.080681
34672,2023,7,SOUTH REGION,120.0,25,Black,12,10,10.000000,0,1,0,0,0,0,0,19.476231,15.188816
36364,2023,8,WEST REGION,650.0,23,White,40,9,16.250000,0,0,1,1,0,0,1,15.861493,11.128088
36776,2023,8,SOUTH REGION,2880.0,19,White,60,22,48.000000,0,1,0,1,0,1,0,62.853083,54.998893
41504,2023,9,SOUTH REGION,600.0,19,White,40,6,15.000000,0,1,0,1,0,1,0,5.017280,-0.459517

In [12]:
unique_rows.reset_index()

,index,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,REGION_SOUTH REGION,REGION_WEST REGION,RACE_White,White_Northeast,White_South,White_West,PREDICTED_HOURWAGE_with_educ,PREDICTED_HOURWAGE_with_2
0,0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,1,0,1,0,1,0,15.861493,15.587414
1,1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,1,0,1,0,1,0,26.705706,23.607559
2,2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,1,0,1,0,1,0,33.935182,31.431726
3,3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,1,0,1,0,1,0,26.705706,32.823499
4,4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,1,0,0,0,0,0,33.935182,32.323591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,32374,2023,7,SOUTH REGION,1040.0,28,White,40,10,26.000000,0,1,0,1,0,1,0,19.476231,16.080681
467,34672,2023,7,SOUTH REGION,120.0,25,Black,12,10,10.000000,0,1,0,0,0,0,0,19.476231,15.188816
468,36364,2023,8,WEST REGION,650.0,23,White,40,9,16.250000,0,0,1,1,0,0,1,15.861493,11.128088
469,36776,2023,8,SOUTH REGION,2880.0,19,White,60,22,48.000000,0,1,0,1,0,1,0,62.853083,54.998893
470,41504,2023,9,SOUTH REGION,600.0,19,White,40,6,15.000000,0,1,0,1,0,1,0,5.017280,-0.459517

In [13]:
json_string = unique_rows.to_json()

In [14]:
file_path = 'output.json'
unique_rows.to_json(file_path)
unique_rows.to_json(file_path, orient='records')