In [1]:
import pandas as pd

In [2]:
df = pd.read_json('data.json')

# Display the first few rows of the DataFrame

In [3]:
df

,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,REGION_SOUTH REGION,REGION_WEST REGION,RACE_White,White_Northeast,White_South,White_West
0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,1,0,1,0,1,0
1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,1,0,1,0,1,0
2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,1,0,1,0,1,0
3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,1,0,1,0,1,0
4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57490,2023,12,WEST REGION,1900.0,40,White,50,14,38.000000,0,0,1,1,0,0,1
57491,2023,12,WEST REGION,390.0,48,White,60,11,6.500000,0,0,1,1,0,0,1
57492,2023,12,WEST REGION,1140.0,28,White,45,12,25.333330,0,0,1,1,0,0,1
57493,2023,12,WEST REGION,1730.0,58,White,55,16,31.454550,0,0,1,1,0,0,1
57494,2023,12,WEST REGION,1000.0,51,White,65,12,15.384620,0,0,1,1,0,0,1

In [4]:
import statsmodels.api as sm

# Add a constant term for the intercept
X = sm.add_constant(df['EDUC'])
y = df['HOURWAGE']

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print the summary results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               HOURWAGE   R-squared:                       0.114
Model:                            OLS   Adj. R-squared:                  0.114
Method:                 Least Squares   F-statistic:                     7430.
Date:                Thu, 07 Mar 2024   Prob (F-statistic):               0.00
Time:                        13:57:28   Log-Likelihood:            -2.7030e+05
No. Observations:               57495   AIC:                         5.406e+05
Df Residuals:                   57493   BIC:                         5.406e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -16.6711      0.585    -28.508      0.000     -17.817     -15.525
EDUC           3.6147      0.042     86.195      0.000       3.533       3.697
==============================================================================
Omnibus:                    61770.744   Durbin-Watson:                   1.906
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         10786573.417
Skew:                           5.159   Prob(JB):                         0.00
Kurtosis:                      69.304   Cond. No.                         73.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [6]:
# Assuming your model variable is named model
intercept_statsmodels = model.params[0]  # Intercept (beta_0)
coefficient_statsmodels = model.params[1]  # Coefficient for EDUC (beta_1)

print("Intercept (statsmodels):", intercept_statsmodels)
print("Coefficient for EDUC (statsmodels):", coefficient_statsmodels)


# Calculate predicted HOURWAGE for each EDUC value
df['PREDICTED_HOURWAGE_with_educ'] = intercept_statsmodels + coefficient_statsmodels * df['EDUC']

# Display the DataFrame with predicted values
df

Intercept (statsmodels): -16.67114624833517
Coefficient for EDUC (statsmodels): 3.614737714740973

,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,REGION_SOUTH REGION,REGION_WEST REGION,RACE_White,White_Northeast,White_South,White_West,PREDICTED_HOURWAGE_with_educ
0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,1,0,1,0,1,0,15.861493
1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,1,0,1,0,1,0,26.705706
2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,1,0,1,0,1,0,33.935182
3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,1,0,1,0,1,0,26.705706
4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,1,0,0,0,0,0,33.935182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57490,2023,12,WEST REGION,1900.0,40,White,50,14,38.000000,0,0,1,1,0,0,1,33.935182
57491,2023,12,WEST REGION,390.0,48,White,60,11,6.500000,0,0,1,1,0,0,1,23.090969
57492,2023,12,WEST REGION,1140.0,28,White,45,12,25.333330,0,0,1,1,0,0,1,26.705706
57493,2023,12,WEST REGION,1730.0,58,White,55,16,31.454550,0,0,1,1,0,0,1,41.164657
57494,2023,12,WEST REGION,1000.0,51,White,65,12,15.384620,0,0,1,1,0,0,1,26.705706

In [7]:
import statsmodels.api as sm

# Add a constant term for the intercept
X = sm.add_constant(df[['EDUC', 'AGE']])
y = df['HOURWAGE']

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print the summary results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               HOURWAGE   R-squared:                       0.133
Model:                            OLS   Adj. R-squared:                  0.133
Method:                 Least Squares   F-statistic:                     4400.
Date:                Thu, 07 Mar 2024   Prob (F-statistic):               0.00
Time:                        13:58:12   Log-Likelihood:            -2.6970e+05
No. Observations:               57495   AIC:                         5.394e+05
Df Residuals:                   57492   BIC:                         5.394e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -26.9049      0.649    -41.454      0.000     -28.177     -25.633
EDUC           3.4662      0.042     83.081      0.000       3.384       3.548
AGE            0.2973      0.009     34.831      0.000       0.281       0.314
==============================================================================
Omnibus:                    62392.661   Durbin-Watson:                   1.904
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         11503210.190
Skew:                           5.233   Prob(JB):                         0.00
Kurtosis:                      71.500   Cond. No.                         267.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [8]:
# Assuming your model variable is named model
intercept_statsmodels = model.params[0]  # Intercept (beta_0)
coefficient_statsmodels = model.params[1]  # Coefficient for EDUC (beta_1)
coefficient_statsmodels2 = model.params[2]

print("Intercept (statsmodels):", intercept_statsmodels)
print("Coefficient for EDUC (statsmodels):", coefficient_statsmodels)


# Calculate predicted HOURWAGE for each EDUC value
df['PREDICTED_HOURWAGE_with_2'] = intercept_statsmodels + coefficient_statsmodels * df['EDUC'] + coefficient_statsmodels2 *df['AGE']

# Display the DataFrame with predicted values
df

Intercept (statsmodels): -26.904900621104687
Coefficient for EDUC (statsmodels): 3.466150647332988

,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,REGION_SOUTH REGION,REGION_WEST REGION,RACE_White,White_Northeast,White_South,White_West,PREDICTED_HOURWAGE_with_educ,PREDICTED_HOURWAGE_with_2
0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,1,0,1,0,1,0,15.861493,15.587414
1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,1,0,1,0,1,0,26.705706,23.607559
2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,1,0,1,0,1,0,33.935182,31.431726
3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,1,0,1,0,1,0,26.705706,32.823499
4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,1,0,0,0,0,0,33.935182,32.323591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57490,2023,12,WEST REGION,1900.0,40,White,50,14,38.000000,0,0,1,1,0,0,1,33.935182,33.512744
57491,2023,12,WEST REGION,390.0,48,White,60,11,6.500000,0,0,1,1,0,0,1,23.090969,25.492600
57492,2023,12,WEST REGION,1140.0,28,White,45,12,25.333330,0,0,1,1,0,0,1,26.705706,23.012982
57493,2023,12,WEST REGION,1730.0,58,White,55,16,31.454550,0,0,1,1,0,0,1,41.164657,45.796237
57494,2023,12,WEST REGION,1000.0,51,White,65,12,15.384620,0,0,1,1,0,0,1,26.705706,29.850615

In [10]:
# Assuming df has columns named 'AGE' and 'EDUC'
unique_rows = df.drop_duplicates(subset=['AGE', 'EDUC'])

# Display the resulting DataFrame with unique AGE and EDUC combination
unique_rows

,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,REGION_SOUTH REGION,REGION_WEST REGION,RACE_White,White_Northeast,White_South,White_West,PREDICTED_HOURWAGE_with_educ,PREDICTED_HOURWAGE_with_2
0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,1,0,1,0,1,0,15.861493,15.587414
1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,1,0,1,0,1,0,26.705706,23.607559
2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,1,0,1,0,1,0,33.935182,31.431726
3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,1,0,1,0,1,0,26.705706,32.823499
4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,1,0,0,0,0,0,33.935182,32.323591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32374,2023,7,SOUTH REGION,1040.0,28,White,40,10,26.000000,0,1,0,1,0,1,0,19.476231,16.080681
34672,2023,7,SOUTH REGION,120.0,25,Black,12,10,10.000000,0,1,0,0,0,0,0,19.476231,15.188816
36364,2023,8,WEST REGION,650.0,23,White,40,9,16.250000,0,0,1,1,0,0,1,15.861493,11.128088
36776,2023,8,SOUTH REGION,2880.0,19,White,60,22,48.000000,0,1,0,1,0,1,0,62.853083,54.998893
41504,2023,9,SOUTH REGION,600.0,19,White,40,6,15.000000,0,1,0,1,0,1,0,5.017280,-0.459517

In [12]:
unique_rows.reset_index()

,index,YEAR,MONTH,REGION,EARNWEEK2,AGE,RACE,UHRSWORKT,EDUC,HOURWAGE,REGION_NORTHEAST REGION,REGION_SOUTH REGION,REGION_WEST REGION,RACE_White,White_Northeast,White_South,White_West,PREDICTED_HOURWAGE_with_educ,PREDICTED_HOURWAGE_with_2
0,0,2023,1,SOUTH REGION,240.0,38,White,24,9,10.000000,0,1,0,1,0,1,0,15.861493,15.587414
1,1,2023,1,SOUTH REGION,674.0,30,White,50,12,13.480000,0,1,0,1,0,1,0,26.705706,23.607559
2,2,2023,1,SOUTH REGION,846.0,33,White,40,14,21.150000,0,1,0,1,0,1,0,33.935182,31.431726
3,3,2023,1,SOUTH REGION,626.0,61,White,44,12,14.227273,0,1,0,1,0,1,0,26.705706,32.823499
4,4,2023,1,SOUTH REGION,1116.0,36,Black,40,14,27.900000,0,1,0,0,0,0,0,33.935182,32.323591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,32374,2023,7,SOUTH REGION,1040.0,28,White,40,10,26.000000,0,1,0,1,0,1,0,19.476231,16.080681
467,34672,2023,7,SOUTH REGION,120.0,25,Black,12,10,10.000000,0,1,0,0,0,0,0,19.476231,15.188816
468,36364,2023,8,WEST REGION,650.0,23,White,40,9,16.250000,0,0,1,1,0,0,1,15.861493,11.128088
469,36776,2023,8,SOUTH REGION,2880.0,19,White,60,22,48.000000,0,1,0,1,0,1,0,62.853083,54.998893
470,41504,2023,9,SOUTH REGION,600.0,19,White,40,6,15.000000,0,1,0,1,0,1,0,5.017280,-0.459517

In [13]:
json_string = unique_rows.to_json()

In [ ]:
file_path = 'output.json'